<h1>Game Over</h1>

<br/>

<h3>We hate to see you go, <%= session[:player_name]%>. We understand this game is not for everyone.</h3>


<br/>
<br/>
<iframe width="820" height="515" src="https://www.youtube.com/embed/QH2-TGUlwu4?autoplay=1" frameborder="0" allowfullscreen></iframe>

<br/>
<br/>

<p>If you have a gambling problem, do not come back to this site. Thanks :) </p>